/* Basic jQuery Slider essential styles */

ul.bjqs {
/*	position:relative; */
	list-style:none;
	padding:0;
/*	margin:0;*/
	overflow:hidden; 
	display:none;
	border: 5px solid #fff;
	box-shadow: 0 0 10px #ccc; 
	border-bottom: 30px solid #fff;
}

#container {
	margin-top: 85px;
}

li.bjqs-slide {
	position: absolute; 
	display: none;
}

ul.bjqs-controls {
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 9999;
}

ul.bjqs-controls.v-centered li a {
	position:absolute;
}

ul.bjqs-controls.v-centered li.bjqs-next a {
	right: 30px;
	color: white;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li.bjqs-prev a {
	margin-left: 30px;
	color: white;
	text-decoration: none;
}

ol.bjqs-markers {list-style: none; padding: 0; margin: 0; width:100%;}
/*ol.bjqs-markers.h-centered{text-align: center;}*/
/*ol.bjqs-markers li{display:inline;}*/
ol.bjqs-markers li a{display:none;}
p.bjqs-caption {
	display:block;
	max-width: 1014px;
	margin: -32px -2px; 
	padding:.5% 0 .5% 25px;
	position:absolute;
	bottom:0;
/*	background-color: #E5FFCA;*/
	opacity: .9;
	color: black; 
}